<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @element.price %>
</p>

<p>
  <strong>Label:</strong>
  <%= @element.label %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %>
