// Place all the styles related to the elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 11pt sans-serif;
}

table {
  border-collapse: collapse
}
th { 
  text-align: left; 
  background: #ccc; 
  padding: 5px; 
  border: 1px solid black; 
 }
 td { 
  padding: 5px; 
  border: 1px solid black; 
 }
 span {
   color: red;
 }
 .mycontent {
  margin:0 auto;
  border: solid 1px black;
  padding-left: 30px;
  background: #eee9e9;
  width: 785px;
  padding-bottom: 20px;
  padding-top: 10px;
 }
 .mydevise {
   padding-top: 10px;
   margin:0 auto;
   background:#ffd700;
   border: solid 1px black;
   width: 815px;
   padding-bottom: 10px;
   text-align: right;
 }
 A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   A:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
   } 
